[submodule "native/jni/external/android_system_core"]
	path = native/jni/external/android_system_core
	url = https://android.googlesource.com/platform/system/core
	branch = android11-platform-release
[submodule "native/jni/external/libdrm"]
	path = native/jni/external/libdrm
	url = https://android.googlesource.com/platform/external/libdrm
	branch = android11-platform-release
[submodule "native/jni/external/libpng"]
	path = native/jni/external/libpng
	url = https://android.googlesource.com/platform/external/libpng
	branch = android11-platform-release
[submodule "busybox/android-busybox-ndk"]
	path = busybox/android-busybox-ndk
	url = https://github.com/osm0sis/android-busybox-ndk
[submodule "native/jni/external/e2fsprogs"]
	path = native/jni/external/e2fsprogs
	url = https://android.googlesource.com/platform/external/e2fsprogs
	branch = android11-qpr2-release
[submodule "native/jni/external/pcre"]
	path = native/jni/external/pcre
	url = https://android.googlesource.com/platform/external/pcre
	branch = android11-qpr2-release
[submodule "native/jni/external/selinux"]
	path = native/jni/external/selinux
	url = https://android.googlesource.com/platform/external/selinux
	branch = android11-qpr2-release
